header:first-of-type{
    display: flex;
    height: 20px;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    background-color:white;
}

header:last-of-type {
    height: 70px;
    background:linear-gradient(92.04deg, #18184A 24.18%, #19398A 50.95%, #18184A 110.32%);
    align-items: center;
    box-shadow: 0 4px 8px 0 hsl(0deg 0% 7% / 50%);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:'Source Sans Pro', sans-serif;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
}



   